@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

$site-width: 1200px;
$hero-width: 1600px;
$profile-image-width: 300px;

$gutter: 8px;
$gray: #333;
$primary: #1977f3;
$primary-light: #eef5fe;

$small-breakpoint: 500px;
$medium-breakpoint: 960px;

.app {
  * {
    font-family: "Inter", sans-serif;
    box-sizing: border-box;
  }
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 15%;
  background: #f4f8fe;

  .logo-wrapper {
    display: flex;
    flex-direction: column;
    h1 {
      font-weight: 500;
    }
    span {
      font-style: italic;
    }
  }
  .header-nav-group {
    display: flex;
    align-items: center;
    button {
      outline: none;
      border: none;
      background: #1977f3;
      padding: 0.5rem 0.8rem;
      color: #fff;
      border-radius: 5px;
      text-transform: capitalize;
    }
  }
  .header-nav {
    a {
      text-decoration: none;
      padding: 0 1rem;
      color: #333;
    }
  }
}

.banner-container {
  padding: 0 2rem;
  img {
    width: 100%;
    height: 40vh;
  }
}

.blog-container {
  display: flex;
  padding: 3rem 15%;
  margin-bottom: 3rem;

  .my-img {
    text-align: center;
    img {
      width: 15rem;
      height: 15rem;
      border-radius: 50%;
      margin: auto;
      margin-bottom: 2rem;
    }
  }
  .blog-wrapper {
    padding-left: 2rem;
    .blog-title {
      margin-bottom: 1rem;
    }
  }
}

.footer-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 15%;
  background: #1977f3;
  position: fixed;
  bottom: 0;
  color: #fff;

  .footer-nav {
    a {
      text-decoration: none;
      color: #fff;
      padding: 0 0.5rem;
    }
  }
}

@media screen and (max-width: 768px) {
  .header-container {
    padding: 0.5rem 3rem;
  }
  .blog-container {
    flex-direction: column;
    padding: 3rem 2rem;
    .blog-wrapper {
      padding-left: 0;
    }
  }
  .banner-container {
    padding: 0;
  }
  .footer-container {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 540px) {
  .header-container {
    padding: 0.5rem 2rem;
  }
  .header-nav {
    display: none;
  }
  .blog-container {
    margin-bottom: 7rem;
  }
  .footer-container {
    .footer-nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 1rem;
    }
  }
}
